# Node modules
/node_modules/

# dotenv environment variable files
**.env


# Logs
*.log
logs/
pids/
*.pid
*.seed

# Runtime data
*.pid
*.seed
*.pid.lock

# IDE files
.vscode/
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other system files
*.swp
*.swo
*.swn
*.tmp